# Build Folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Visual Studio Code
.vscode/
*.code-workspace

# Rider
.idea/
*.sln.iml

# Packages
*.nupkg
*.snupkg

# Backup & temporary files
*.bak
*.swp
*.tmp
*.temp

# Resharper
_ReSharper*/
*.DotSettings.user

# Coverage
coverage/
*.coverage
*.coveragexml
*.cov

# Other
*.DS_Store
Thumbs.db